#**

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxIndex.vm,v 1.1.1.1 2001/08/06 09:38:13 schmidt Exp $

*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Home Page")

<font face="$ui.sansSerifFonts">

This is the administration application.

</font>
