					<tr height="1">
							<td height="1" colspan="6"><img src="../img/super-header/locations_de.gif" width="231" height="56" border="0"></td>
						</tr>
						<tr height="1">
							<td height="1" colspan="6"><img src="../img/space.gif" width="231" height="1" border="0"></td>
						</tr>
						<tr height="1">
							<td width="1" height="1"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#666633"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="5" bgcolor="#666633"><img src="../img/space.gif" width="5" height="1" border="0"></td>
							<td height="1" width="222" bgcolor="#666633"><img src="../img/space.gif" width="222" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#666633"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="1"><img src="../img/space.gif" width="1" height="1" border="0"></td>
						</tr>
						<tr height="1">
							<td width="1" height="1" bgcolor="#666633"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#dede94"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="5" bgcolor="#dede94"><img src="../img/space.gif" width="5" height="1" border="0"></td>
							<td height="1" width="222" bgcolor="#dede94"><img src="../img/space.gif" width="222" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#dede94"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#666633"><img src="../img/space.gif" width="1" height="1" border="0"></td>
						</tr>
						<tr height="5">
							<td width="1" bgcolor="#666633" rowspan="7"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td width="1" bgcolor="#dede94" rowspan="7"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td width="5" bgcolor="#cccc66" rowspan="3"><img src="../img/space.gif" width="5" height="5" border="0"></td>
							<td width="222" bgcolor="#cccc66" height="5"><img src="../img/space.gif" width="5" height="5" border="0"></td>
							<td width="1" bgcolor="#adad5a" rowspan="7"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td width="1" bgcolor="#666633" rowspan="7"><img src="../img/space.gif" width="1" height="1" border="0"></td>
						</tr>
						<tr>
							<td width="222" bgcolor="#cccc66">
								<table border="0" cellpadding="0" cellspacing="0" width="207">
									<tr>
										<td width="175"><img src="../img/headlines/1_locationtype_de.gif" width="175" height="5" border="0" vspace="3"><span class="copy9"><br>
											</span></td>
										<td width="10"></td>
										<td width="22"></td>
									</tr>
									<tr>
										<td valign="bottom" width="175">
											<form name="qttq" method="get">
												<select name="puboeh" size="1" class="input175">
													<option value="one">alle Locations</option>
													<option value="two">second</option>
													<option value="three">third</option>
												</select><br>
											
										</td>
										<td width="10"><img src="../img/space.gif" width="10" height="10" border="0"></td>
										<td width="22" valign="bottom"><a href="locations_sub.html"><img src="../img/buttons/go_de.gif" width="22" height="18" border="0"></a></td>
									</tr>
								</table>
							</td>
						</tr>
						</form>
						<tr height="10">
							<td height="10" width="222" bgcolor="#cccc66"><img src="../img/space.gif" width="10" height="10" border="0"></td>
						</tr>
						<tr height="2">
							<td height="2" colspan="2" bgcolor="#dede94"><img src="../img/ornaments/dotted_line_green_277_px.gif" width="227" height="2" border="0"></td>
						</tr>
						<tr height="5">
							<td width="5" height="5" bgcolor="#dede94"><img src="../img/space.gif" width="5" height="5" border="0"></td>
							<td height="5" width="222" bgcolor="#dede94"><img src="../img/space.gif" width="5" height="5" border="0"></td>
						</tr>
						<tr height="10">
							<td width="5" height="10" bgcolor="#dede94"><img src="../img/space.gif" width="5" height="5" border="0"></td>
							<td height="10" width="222" bgcolor="#dede94"><img src="../img/headlines/2_alphabetisch_de.gif" width="175" height="5" border="0" vspace="3"><span class="copy9"><br>
								</span><a href="locations_sub.html"><img src="../img/buttons/keyboard-fake.gif" width="175" height="55" border="0"></a></td>
						</tr>
						<tr height="10">
							<td width="5" height="10" bgcolor="#dede94"><img src="../img/space.gif" width="5" height="5" border="0"></td>
							<td height="10" width="222" bgcolor="#dede94"><img src="../img/space.gif" width="10" height="10" border="0"></td>
						</tr>
						<tr height="1">
							<td width="1" height="1" bgcolor="#666633"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#adad5a"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="5" bgcolor="#adad5a"><img src="../img/space.gif" width="5" height="1" border="0"></td>
							<td height="1" width="222" bgcolor="#adad5a"><img src="../img/space.gif" width="222" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#666600"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#666633"><img src="../img/space.gif" width="1" height="1" border="0"></td>
						</tr>
						<tr height="1">
							<td width="1" height="1"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#666633"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="5" bgcolor="#666633"><img src="../img/space.gif" width="5" height="1" border="0"></td>
							<td height="1" width="222" bgcolor="#666633"><img src="../img/space.gif" width="222" height="1" border="0"></td>
							<td height="1" width="1" bgcolor="#666633"><img src="../img/space.gif" width="1" height="1" border="0"></td>
							<td height="1" width="1"><img src="../img/space.gif" width="1" height="1" border="0"></td>
						</tr>