## Magazine Index Template
## @version: $Id: MagazineIndex.vm,v 1.7 2001/09/10 13:34:52 heiko Exp $
#set($lang_id = $data.getSession().getAttribute("activeIssue").getLangId())
#if($lang_id.equals("1"))
	#set($lang = "de")
#elseif($lang_id.equals("2"))
	#set($lang = "en")
#end
#set($imgType = ".gif")
#set($underline = "_")
<html>
<head>
<title>Magazine Home</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<link rel=stylesheet type="text/css" href="/mag/css/style.css">
 <script language="javascript">
      function setNavi() {
        if( parent ) {
          if( parent.nav )
            parent.nav.remotechange('magazin_themen');
          if( parent.header )
            parent.header.setPageDisplay( 3 );
        }
      }
    </script>
</head>
<body onload="setNavi()" link="#000000" vlink="#000000" alink="#000000" bgcolor="#ffffff" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" background="/mag/img/backgrounds/bg_content.gif">
<table width="709" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="5"><img src="/mag/img/space.gif" width="1" height="5" border="0"></td>
		<td width="231"><img src="/mag/img/space.gif" width="231" height="5" border="0"></td>
		<td width="5"><img src="/mag/img/space.gif" width="1" height="5" border="0"></td>
		<td width="468"><img src="/mag/img/space.gif" width="468" height="5" border="0"></td>
	</tr>
	<tr>
		<td><img src="/mag/img/space.gif" width="5" height="1" border="0"></td>
		<td valign="top">
<form name="magazinNav">		
  <table border="0" cellpadding="0" cellspacing="0" width="231">
    <tr height="1">
      <td height="1" colspan="6"><!-- nav table header gfx start --><img src="/mag/img/super-header/mag_mag$underline$lang$imgType" width="231" height="56" border="0"><!-- nav table header gfx end --></td>
    </tr>
    <tr height="1">
      <td height="1" colspan="6"><img src="/mag/img/space.gif" width="231" height="1" border="0"></td>
    </tr>
    <tr height="1">
      <td width="1" height="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#666633"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="5" bgcolor="#666633"><img src="/mag/img/space.gif" width="5" height="1" border="0"></td>
      <td height="1" width="222" bgcolor="#666633"><img src="/mag/img/space.gif" width="222" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#666633"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr height="1">
      <td width="1" height="1" bgcolor="#666633"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#dede94"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="5" bgcolor="#dede94"><img src="/mag/img/space.gif" width="5" height="1" border="0"></td>
      <td height="1" width="222" bgcolor="#dede94"><img src="/mag/img/space.gif" width="222" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#dede94"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#666633"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr height="5">
      <td width="1" bgcolor="#666633" rowspan="4"><img src="/mag/img/space.gif" width="1" height="40" border="0"></td>
      <td width="1" bgcolor="#dede94" rowspan="4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td width="5" bgcolor="#cccc66" rowspan="4"><img src="/mag/img/space.gif" width="5" height="5" border="0"></td>
      <td width="222" bgcolor="#cccc66" height="5"><img src="/mag/img/space.gif" width="5" height="5" border="0"></td>
      <td width="1" bgcolor="#adad5a" rowspan="4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td width="1" bgcolor="#666633" rowspan="4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
    </tr>
	<tr>
		<td width="222" bgcolor="#cccc66" height="7"><img src="/mag/img/headlines/1_quicknav$underline$lang$imgType" width="188" height="7" border="0"></td>
	</tr>
    <tr>
      <td width="222" bgcolor="#cccc66" class="inputns4">
          
          #parse("MagazineNav.vm")
</td>
    </tr>
    <tr height="10">
      <td height="10" width="222" bgcolor="#cccc66"><img src="/mag/img/space.gif" width="10" height="10" border="0"></td>
    </tr>
    <tr height="1">
      <td width="1" height="1" bgcolor="#666633"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#adad5a"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="5" bgcolor="#adad5a"><img src="/mag/img/space.gif" width="5" height="1" border="0"></td>
      <td height="1" width="222" bgcolor="#adad5a"><img src="/mag/img/space.gif" width="222" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#666600"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#666633"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
    </tr>
    <tr height="1">
      <td width="1" height="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#666633"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="5" bgcolor="#666633"><img src="/mag/img/space.gif" width="5" height="1" border="0"></td>
      <td height="1" width="222" bgcolor="#666633"><img src="/mag/img/space.gif" width="222" height="1" border="0"></td>
      <td height="1" width="1" bgcolor="#666633"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
      <td height="1" width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
    </tr>
	</form>
  </table>
<br>
		<table border="0" cellpadding="0" cellspacing="0" width="10" height="10">
			<tr height="64">
				<td colspan="3" height="64">
					<table border="0" cellpadding="0" cellspacing="0" width="231" height="64">
						<tr height="10">
							<td colspan="3" height="10"><img src="/mag/img/key-visuals/header_oben.gif" width="231" height="10" border="0"></td>
						</tr>
						<tr height="20">
							<td height="20" width="9"><img src="/mag/img/key-visuals/header_links_oben.gif" width="9" height="20" border="0"></td>
							<td height="20" width="186" class="tdbgreen3"><img src="/mag/img/key-visuals/issue.gif" width="70" height="20" border="0"><img src="/mag/img/key-visuals/ziffer_9.gif" width="12" height="20" border="0"><img src="/mag/img/key-visuals/ziffer_punkt.gif" width="6" height="20" border="0"><img src="/mag/img/key-visuals/ziffer_2.gif" width="12" height="20" border="0"></td>
							<td width="36" height="20" align=right class="tdbgreen3"><img src="/mag/img/key-visuals/header_rechts_oben.gif" width="36" height="20" border="0"></td>
						</tr>
						<tr height="4">
							<td colspan="3" height="4"><img src="/mag/img/key-visuals/header_mitte.gif" width="231" height="4" border="0"></td>
						</tr>
						<tr height="10">
							<td width="9" height="10"><img src="/mag/img/key-visuals/header_links_unten.gif" width="9" height="10" border="0"></td>
							<td height="10" width="186" class="tdbgreen3"><!-- stadt start --><img src="/mag/img/key-visuals/label_berlin.gif" width="31" height="10" border="0"><!-- stadt end --></td>
							<td width="36" height="10" align=right class="tdbgreen3"><img src="/mag/img/key-visuals/header_rechts_unten.gif" width="36" height="10" border="0"></td>
						</tr>
						<tr height="20">
							<td colspan="3" height="20"><img src="/mag/img/key-visuals/header_unten.gif" width="231" height="20" border="0"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr height="118">
				<td height="118" width="12"><img src="/mag/img/key-visuals/left.gif" width="12" height="118" border="0"></td>
				<td height="118" width="210" class="tdbbleu2"><!-- key-visual start --><img src="/mag/img/key-visuals/visual_4.gif" border="0"><!-- key-visual end --></td>
				<td height="118" width="9"><img src="/mag/img/key-visuals/right.gif" width="9" height="118" border="0"></td>
			</tr>
			<tr height="82">
				<td colspan="3" height="82"><!-- city-facts start --><img src="/mag/img/key-visuals/cityfacts_berlin.gif" width="231" height="82" border="0"><!-- city-facts end --></td>
			</tr>
		</table>
		<br>
#if($newsTeaser)
<table border="0" cellpadding="0" cellspacing="0" width="231">
<colgroup><col width="221"><col width="10"></colgroup>
	<tr height="21">
		<td colspan="2" height="21">
			<table border="0" cellpadding="0" cellspacing="0" width="231" height="30">
			<colgroup><col width="18"><col width="188"><col width="25"></colgroup>
				<tr height="7">
					<td rowspan="5"><img src="/mag/img/layout/header_left_magenta_big.gif" width="18" height="30" border="0"></td>
					<td width="188" height="7"><img src="/mag/img/layout/header_top_magenta.gif" width="188" height="7" border="0"></td>
					<td rowspan="5"><img src="/mag/img/layout/teaserbox_right_magenta.gif" width="25" height="30" border="0"></td>
				</tr>
				<tr height="5">
					<td width="188" height="5" class="tdbpink2"><img src="/mag/img/space.gif" width="188" height="5" border="0"></td>
				</tr>
				<tr height="4">
					<td width="188" height="4" class="tdbpink2"><img src="/mag/img/space.gif" width="188" height="4" border="0"></td>
				</tr>
				<tr height="10">
					<td width="188" height="10" class="tdbpink2"><img src="/mag/img/headlines/news$underline$lang$imgType" width="188" height="10" border="0"></td>
				</tr>
				<tr height="4">
					<td width="188" height="4"><img src="/mag/img/layout/header_bottom_magenta.gif" width="188" height="4" border="0"></td>
			</table>
		</td>
	</tr>
	<tr height="1">
		<td colspan="2" height="1"><img src="/mag/img/layout/teaserbox_spacer_magenta.gif" width="231" height="1" border="0"></td>
	</tr>
	<tr>
		<td width="221">
			<table border="0" cellpadding="0" cellspacing="0" width="221">
			<colgroup><col width="1"><col width="1"><col width="4"><col width="214"><col width="1"></colgroup>
				<tr>
					<td width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
					<td width="1" class="tdbpink4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
					<td width="4" class="tdbpink4"><img src="/mag/img/space.gif" width="4" height="1" border="0"></td>
					<td width="214" class="tdbpink4"><img src="/mag/img/space.gif" width="214" height="1" border="0"></td>
					<td width="1" class="tdbpink4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				</tr>
				<tr>
					<td width="1" class="tdbpink4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
					<td width="1" class="white" colspan="4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				</tr>
				<tr>
					<td width="1" class="tdbpink4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
					<td width="1" class="white"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
					<td width="4" class="tdbpink5"><img src="/mag/img/space.gif" width="4" height="4" border="0"></td>
					<td class="tdbpink5" width="215"><br><b>$newsTeaser.getHeading()</b><br>$!newsTeaser.getSubheading()<br><br></td>
					<td width="4" class="tdbpink4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				</tr>

				<tr>
					<td width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
					<td width="1" class="tdbpink4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
					<td width="4" class="tdbpink4"><img src="/mag/img/space.gif" width="4" height="1" border="0"></td>
					<td width="214" class="tdbpink4"><img src="/mag/img/space.gif" width="214" height="1" border="0"></td>
					<td width="1" class="tdbpink4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				</tr>
			</table>
		</td>
		<td width="10" background="/mag/img/layout/border_pink.gif"><img src="/mag/img/space.gif" width="10" height="1" border="0"></td>
	</tr>
	<tr height="12">
		<td colspan="2" height="12"><img src="/mag/img/layout/teaserbox_bottom_magenta.gif" width="231" height="12" border="0"></td>
	</tr>
</table>
<br>
#end

		</td>
		<td><img src="/mag/img/space.gif" width="5" height="1" border="0"></td>
		<td valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="468">
			<tr height="1">
				<td height="1" colspan="6">
					<table border="0" cellpadding="0" cellspacing="0" width="468" height="31">
						<tr height="7">
							<td rowspan="5"><img src="/mag/img/layout/header_left_blue_big.gif" width="18" height="30" border="0"></td>
							<td width="425" height="7"><img src="/mag/img/layout/header_top_blue.gif" width="425" height="7" border="0"></td>
							<td rowspan="5"><img src="/mag/img/layout/header_right_blue_big.gif" width="25" height="30" border="0"></td>
						</tr>
						<tr height="5">
							<td width="425" height="5" bgcolor="#69b0c2"><img src="/mag/img/phrases/17.gif" width="188" height="5" border="0"></td>
						</tr>
						<tr height="4">
							<td width="425" height="4" bgcolor="#69b0c2"><img src="/mag/img/space.gif" width="188" height="4" border="0"></td>
						</tr>
						<tr height="10">
							<td width="425" height="10" bgcolor="#69b0c2"><img src="/mag/img/headlines/themen$underline$lang$imgType" width="188" height="10" border="0"></td>
						</tr>
						<tr height="4">
							<td width="425" height="4"><img src="/mag/img/layout/header_bottom_blue.gif" width="425" height="4" border="0"></td>
						</tr>
						<tr height="1">
							<td height="1" colspan="3"><img src="/mag/img/space.gif" width="468" height="1" border="0"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr height="1">
				<td width="1" height="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td height="1" width="1" class="tdbgreen1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td height="1" width="5" class="tdbgreen1"><img src="/mag/img/space.gif" width="5" height="1" border="0"></td>
				<td height="1" width="459" class="tdbgreen1"><img src="/mag/img/space.gif" width="222" height="1" border="0"></td>
				<td height="1" width="1" class="tdbgreen1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td height="1" width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
			</tr>
			<tr height="1">
				<td width="1" height="1" class="tdbgreen1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td height="1" width="1" class="tdbgreen5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td height="1" width="5" class="tdbgreen5"><img src="/mag/img/space.gif" width="5" height="1" border="0"></td>
				<td height="1" width="459" class="tdbgreen5"><img src="/mag/img/space.gif" width="222" height="1" border="0"></td>
				<td height="1" width="1" class="tdbgreen5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td height="1" width="1" class="tdbgreen1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
			</tr>
			<tr height="5">
				<td width="1" rowspan="6" class="tdbgreen1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="1" rowspan="6" class="tdbgreen5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="5" height="5" class="tdbgreen4"><img src="/mag/img/space.gif" width="5" height="5" border="0"></td>
				<td width="459" height="5" class="tdbgreen4"><img src="/mag/img/space.gif" width="459" height="5" border="0"></td>
				<td width="1" rowspan="6" class="tdbgreen3"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="1" rowspan="6" class="tdbgreen1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
			</tr>
			<tr>
				<td width="5" class="tdbgreen4" rowspan="5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="459" class="tdbgreen4" align="left">
					<table border="0" cellpadding="0" cellspacing="0">
						<tr height="10">
							<!--<td colspan="2" height="10"><img src="/mag/img/thumbnails/header.gif" width="86" height="10" border="0"></td>
							<td rowspan="2" width="5"><img src="/mag/img/space.gif" width="5" height="10" border="0"></td>
							<td colspan="2" height="10"><img src="/mag/img/thumbnails/header.gif" width="86" height="10" border="0"></td>
							<td rowspan="2" width="5"><img src="/mag/img/space.gif" width="5" height="10" border="0"></td>-->
							#foreach($channel in $themenChannel)
								#set($channelName = $channel.getName())
							<td colspan="2" height="10"><img src="/mag/img/thumbnails/header$underline$channelName$underline$lang$imgType" width="86" height="10" border="0"></td>
							<td rowspan="2" width="5"><img src="/mag/img/space.gif" width="5" height="10" border="0"></td>
							#end
							<!--<td colspan="2" height="10"><img src="/mag/img/thumbnails/header.gif" width="86" height="10" border="0"></td>-->
						</tr>
						<tr height="50">
							<!--<td height="50" width="6"><img src="/mag/img/thumbnails/sidebar.gif" width="6" height="50" border="0"></td>
							<td height="50" width="80"><a href="$link.setPage("magazine,ThemenIndex.vm")" class="magenta"><img src="/mag/img/thumbnails/thumb_78x48.gif" width="78" height="48" border="1"></a></td>
							<td height="50" width="6"><img src="/mag/img/thumbnails/sidebar.gif" width="6" height="50" border="0"></td>
							<td height="50" width="80"><a href="$link.setPage("magazine,BesprechungenIndex.vm")" class="magenta"><img src="/mag/img/thumbnails/thumb_78x48.gif" width="78" height="48" border="1"></a></td>-->
							#foreach($channel in $themenChannel)
							#set($channelName = $channel.getName())
							<td height="50" width="6"><img src="/mag/img/thumbnails/sidebar.gif" width="6" height="50" border="0"></td>
							<td height="50" width="80"><a href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("channel_id", $channel.getChannelId())" class="black"><img src="/mag/img/thumbnails/thumb$underline$channelName$imgType" width="78" height="48" border="1"></a></td>
							#end
							<!--<td height="50" width="6"><img src="/mag/img/thumbnails/sidebar.gif" width="6" height="50" border="0"></td>
							<td height="50" width="80"><a href="$link.setPage("magazine,SpezialIndex.vm")" class="magenta"><img src="/mag/img/thumbnails/thumb_78x48.gif" width="78" height="48" border="1"></a></td>-->
						</tr>
					</table>
				</td>
			</tr>
			<tr height="10">
				<td height="10" width="459" class="tdbgreen4"><img src="/mag/img/space.gif" width="10" height="10" border="0"></td>
			</tr>
			<tr height="2">
				<td height="2" width="459" class="tdbgreen4"><img src="/mag/img/ornaments/dotted_line_green_466_px.gif" width="452" height="2" border="0"></td>
			</tr>
			<tr height="10">
				<td height="10" width="459" class="tdbgreen4"><img src="/mag/img/space.gif" width="10" height="10" border="0"></td>
			</tr>
			<tr>
				<td width="459" class="tdbgreen4" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="459">
						<tr height="1">
							<td width="449" height="1" class="tdbgreen4" valign="top"><img src="/mag/img/ornaments/icn_dot_green_magenta.gif" width="9" height="9" border="0">
                                                            #set($openerItem = $themenOpener.getArticle())
                                                            <a href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("article_id", $openerItem.getArticleId()).addQueryData("channel_id", $themenOpener.getChannelId())" class="magenta"><b>$openerItem.getHeading()</b></a><br>$openerItem.getSubheading()<br>von: $openerItem.getLoginName()
							</td>
							<td width="10" height="1" class="tdbgreen4"><img src="/mag/img/space.gif" width="10" height="10" border="0"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr height="40">
				<td height="40" colspan="6"><img src="/mag/img/buttons/triangle_magenta_single.gif" width="468" height="43" border="0" usemap="#triangle_map"></td>
			</tr>
		</table>
		<map name="triangle_map"><area shape="polygon" coords="432,43,456,43,467,33,467,8,457,7,431,34" href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("article_id", $openerItem.getArticleId()).addQueryData("channel_id", $themenOpener.getChannelId())"></map>
<br><br>
		<table border="0" cellpadding="0" cellspacing="0" width="468">
			<tr>
				<td colspan="2">
					<table border="0" cellpadding="0" cellspacing="0" width="468" height="30">
						<colgroup>
						<col width="18">
							<col width="188">
								<col width="25">
									</colgroup>
									<tr height="7">
										<td rowspan="5"><img src="/mag/img/layout/header_left_blue_big.gif" width="18" height="30" border="0"></td>
										<td width="188" height="7"><img src="/mag/img/layout/header_top_blue.gif" width="188" height="7" border="0"></td>
										<td rowspan="5"><img src="/mag/img/layout/teaserbox_right_blue.gif" width="25" height="30" border="0"></td>
										<td rowspan="5" width="5"><img src="/mag/img/space.gif" width="6" height="10" border="0"></td>
										<td rowspan="5" width="18"><img src="/mag/img/layout/header_left_blue_big.gif" width="18" height="30" border="0"></td>
										<td width="188"><img src="/mag/img/layout/header_top_blue.gif" width="188" height="7" border="0"></td>
										<td rowspan="5" width="25"><img src="/mag/img/layout/teaserbox_right_blue.gif" width="25" height="30" border="0"></td>
									</tr>
									<tr height="5">
										<td width="188" height="5" class="tdbbleu3"><img src="/mag/img/headlines/dummy_small.gif" width="188" height="5" border="0"></td>
										<td class="tdbbleu3"><img src="/mag/img/headlines/dummy_small.gif" width="188" height="5" border="0"></td>
									</tr>
									<tr height="4">
										<td width="188" height="4" class="tdbbleu3"><img src="/mag/img/space.gif" width="188" height="4" border="0"></td>
										<td class="tdbbleu3"><img src="/mag/img/space.gif" width="188" height="4" border="0"></td>
									</tr>
									<tr height="10">
										<td width="188" height="10" class="tdbbleu3"><img src="/mag/img/headlines/besprechungen$underline$lang$imgType" width="188" height="10" border="0"></td>
										<td class="tdbbleu3"><img src="/mag/img/headlines/mehrmag$underline$lang$imgType" width="188" height="10" border="0"></td>
									</tr>
									<tr height="4">
										<td width="188" height="4"><img src="/mag/img/layout/header_bottom_blue.gif" width="188" height="4" border="0"></td>
										<td><img src="/mag/img/layout/header_bottom_blue.gif" width="188" height="4" border="0"></td>
					</table>
				</td>
			</tr>
			<tr>
			<td valign="top">
			
			<table border="0" cellpadding="0" cellspacing="0" width="152" height="30">
			#foreach($channel in $besprechungenChannel)
			#set($channelName=$channel.getName())
			<tr height="5">
				<td width="7" height="5"><img src="/mag/img/space.gif" width="7" height="10" border="0"></td>
				<td height="5" width="86"><img src="/mag/img/space.gif" width="10" height="10" border="0"></td>
				<td width="5" height="5"><img src="/mag/img/space.gif" width="5" height="10" border="0"></td>
				<td height="5" width="130"><img src="/mag/img/space.gif" width="130" height="10" border="0"></td>
			</tr>
			<tr>
				<td width="7"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="86" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="86">
						<tr height="50">
							<td height="50" width="6"><img src="/mag/img/thumbnails/sidebar.gif" width="6" height="50" border="0"></td>
							<td height="50" width="80"><a href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("channel_id", $channel.getChannelId())" class="black"><img src="/mag/img/thumbnails/thumb_$channelName$imgType" width="78" height="48" border="1"></a></td>
						</tr>
					</table>
				</td>
				<td width="5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td valign="top" width="130"><b>$channel.getDescription():</b><br>
					
					#if($channel.getName().equals("music"))
						Reviews der neusten CD's, Vinyl-Scheiben und mehr.							
					#elseif($channel.getName().equals("movies"))
						Besprechungen aktueller Filme.
					#elseif($channel.getName().equals("books"))
						Was ihr lesen sollt.
					#elseif($channel.getName().equals("games"))
						Spielberichte aus der Gamezone, pixelscharf.
					#end
					<br>
				</td>
			</tr>
			#end
			</table>
			
			
		</td>
		<td valign="top">	
			<table border="0" cellpadding="0" cellspacing="0" width="152" height="30">
			#foreach($channel in $otherChannel)
			#set($channelName=$channel.getName())
			<tr height="5">	
				<td width="16" height="5"><img src="/mag/img/space.gif" width="16" height="10" border="0"></td>
				<td width="86" height="5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="5" height="5"><img src="/mag/img/space.gif" width="5" height="10" border="0"></td>
				<td height="5" width="130"><img src="/mag/img/space.gif" width="130" height="10" border="0"></td>
				<td height="5" width="4"><img src="/mag/img/space.gif" width="4" height="10" border="0"></td>
			</tr>
			<tr>
				<td width="7"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="86" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="86">
						<tr height="50">
							<td height="50" width="6"><img src="/mag/img/thumbnails/sidebar.gif" width="6" height="50" border="0"></td>
							<td height="50" width="80"><a href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("channel_id", $channel.getChannelId())" class="black"><img src="/mag/img/thumbnails/thumb_$channelName$imgType" width="78" height="48" border="1"></a></td>
						</tr>
					</table>
				</td>
				<td width="5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td valign="top" width="130"><b>$channel.getDescription():</b><br>
					#if($channel.getName().equals("shopping"))
						Konsumrausch ungehemmt.							
					#elseif($channel.getName().equals("travel"))
						Not a lonly planet &mdash; Berichte und Tips zu Trips.
					#end
					<br>
				</td>
			</tr>
			#end
			<tr height="5">	
				<td width="16" height="5"><img src="/mag/img/space.gif" width="16" height="10" border="0"></td>
				<td width="86" height="5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="5" height="5"><img src="/mag/img/space.gif" width="5" height="10" border="0"></td>
				<td height="5" width="130"><img src="/mag/img/space.gif" width="130" height="10" border="0"></td>
				<td height="5" width="4"><img src="/mag/img/space.gif" width="4" height="10" border="0"></td>
			</tr>
			<tr>
				<td width="7"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td width="86" valign="top">
                                    #if($spezialHasContents)
					<table border="0" cellpadding="0" cellspacing="0" width="86">
						<tr height="50">
							<td height="50" width="6"><img src="/mag/img/thumbnails/sidebar.gif" width="6" height="50" border="0"></td>
							<td height="50" width="80"><a href="$link.setPage("magazine,SpezialIndex.vm")" class="black"><img src="/mag/img/thumbnails/thumb_spezial.gif" width="78" height="48" border="1"></a></td>
						</tr>
					</table>
                                        #else
                                        &nbsp;
                                        #end
				</td>
				<td width="5"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
				<td valign="top" width="130"><b>Spezial:</b><br>
					Gewinnspiele, Polaroids und mehr.
				</td>
			</tr>
			</table>
		</td>	
	</tr>
</table>


        
		
		<!-- right part 
            <table width="100%" border="1">
                <tr valign="top">
                    <td colspan="2">
                        

                        ##foreach($channel in $themenChannel)
                        <a href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("channel_id", $channel.getChannelId())">
                            ##$channel.getDescription()
                        </a>
                        ##end



                        ##set($openerItem = $themenOpener.getArticle())
                        ##if($themenOpener.hasThumbnails())
                            ##set($img = $themenOpener.getThumbnail().getSystemId())

                        ##end
                        <!--<a href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("article_id", $openerItem.getArticleId()).addQueryData("channel_id", $themenOpener.getChannelId())"><i>$openerItem.getHeading()</i></a><br>$openerItem.getSubheading()<br>From $openerItem.getLoginName()-->

                        <!-- end themen opener 
                    </td>
                </tr>
                <tr valign="top">
                    <td>
                        <!-- start besprechungen 
                        <b>besprechungen nav:</b><p>
                        #foreach($channel in $besprechungenChannel)
                        <a href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("channel_id", $channel.getChannelId())">
                            $channel.getDescription():
                            
                        </a><br>
						$channel.getName()<br>
                        [channel_id.jpg] channel_id.description <p>
                        #end

                    </td>
                    <td>

                        <b>spezial nav:</b><p>
                        #foreach($channel in $spezialChannel)
                        <a href="$link.setPage("magazine,ChannelDetail.vm").addQueryData("channel_id", $channel.getChannelId())">
                            $channel.getDescription():
                        </a><br>
						$channel.getName()<br>
                        [channel_id.jpg] channel_id.description <p>
                        #end

                        <a href="$link.setPage("magazine,SpezialIndex.vm")">
                            Spezial
                        </a>

                    </td>
                </tr>
            </table>-->

<br><br>
        </td>
    </tr>
</table>

</body></html>
