$page.setTitle("Flyer Locations")
$page.setBgColor("#ffffff")
$page.setStyleSheet("/mag/css/style.css")

$data.setLayoutTemplate("/locations/Index.vm")
 				
 				<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left"><img src="/mag/img/banner/mf_banner.gif" width="233" height="49" border="0"></td>
							<td align="right"><img src="/mag/img/banner/ff_banner.gif" width="233" height="49" border="0"></td>
						</tr>
						<tr>
							<td align="left" colspan="2"><img src="/mag/img/space.gif" width="468" height="5" border="0"></td>
						</tr>
					</table>
					<img src="/mag/img/ornaments/dotted-line_grey_long.gif" width="468" height="2" border="0"><img src="/mag/img/space.gif" width="468" height="5" border="0">
					<table border="0" cellpadding="0" cellspacing="0" width="468">
						<colgroup>
						<col width="221">
							<col width="10">
								</colgroup>
								<tr height="21">
									<td colspan="2" height="21">
										<table border="0" cellpadding="0" cellspacing="0" width="468" height="21">
											<colgroup>
											<col width="18">
												<col width="425">
													<col width="25">
														</colgroup>
														<tr height="7">
															<td rowspan="3"><img src="/mag/img/layout/header_left_blue_small.gif" width="18" height="21" border="0"></td>
															<td width="188" height="7" class="tdbbleu3"><img src="/mag/img/layout/header_top_blue.gif" width="425" height="7" border="0"></td>
															<td rowspan="3"><img src="/mag/img/layout/header_right_blue_small.gif" width="25" height="21" border="0"></td>
														</tr>
														<tr height="10">
															<td width="425" height="10" class="tdbbleu3"><img src="/mag/img/headlines/bezirke_de.gif" width="188" height="10" border="0"></td>
														</tr>
														<tr height="4">
															<td width="425" height="4"><img src="/mag/img/layout/header_bottom_blue.gif" width="425" height="4" border="0"></td>
														</tr>
													
												
											
										</table>
									</td>
								</tr>
								<tr height="3">
									<td colspan="2" height="1"><img src="/mag/img/layout/contentbox_spacer_blue.gif" width="468" height="1" border="0"></td>
								</tr>
								<tr>
									<td width="458">
										<table border="0" cellpadding="0" cellspacing="0" width="458">
											<colgroup>
											<col width="1">
												<col width="1">
													<col width="4">
														<col width="451">
															<col width="1">
																</colgroup><!--content-table-header start-->
																<tr>
																	<td width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																	<td width="1" class="tdbbleu1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																	<td width="4" class="tdbbleu1"><img src="/mag/img/space.gif" width="4" height="1" border="0"></td>
																	<td width="451" class="tdbbleu1"><img src="/mag/img/space.gif" width="214" height="1" border="0"></td>
																	<td width="1" class="tdbbleu1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																</tr>
																<tr>
																	<td width="1" class="tdbbleu1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																	<td width="1" class="white" colspan="4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																</tr>
																<!--content-table-header end--><!--content-table-content start-->
																<tr height="100">
																	<td width="1" class="tdbbleu1" height="100"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																	<td width="1" class="white" height="100"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																	<td height="100" colspan="2"><img src="/mag/img/maps/berlin_gross.gif" width="455" height="249" border="0" usemap="#berlin_gross_map"></td>
																	<td width="1" class="tdbbleu3" height="100"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																</tr>
																<!--content-table-content end--><!--content-table-footer start-->
																<tr>
																	<td width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																	<td width="1" class="tdbbleu1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																	<td width="4" class="tdbbleu1"><img src="/mag/img/space.gif" width="4" height="1" border="0"></td>
																	<td width="214" class="tdbbleu1"><img src="/mag/img/space.gif" width="214" height="1" border="0"></td>
																	<td width="1" class="tdbbleu1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																</tr>
																<!--content-table-footer end-->
															
														
													
												
											
										</table>
									</td>
									<td width="10" background="/mag/img/layout/border_blue.gif"><img src="/mag/img/space.gif" width="10" height="1" border="0"></td>
								</tr>
								<tr height="12"><map name="mehr"><area shape=rect coords="408,1,455,12" href="javascript:void()"></map>
									<td colspan="2" height="12"><img src="/mag/img/layout/contentbox_bottom_blue2.gif" width="468" height="12" border="0"></td>
								</tr>
							
						
					</table>
					<img src="/mag/img/space.gif" width="468" height="10" border="0">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left">
								<table border="0" cellpadding="0" cellspacing="0" width="231">
									<colgroup>
									<col width="221">
										<col width="10">
											</colgroup>
											<tr>
												<td colspan="2">
													<table border="0" cellpadding="0" cellspacing="0" width="231" height="21">
														<colgroup>
														<col width="18">
															<col width="188">
																<col width="25">
																	</colgroup>
																	<tr height="7">
																		<td rowspan="3"><img src="/mag/img/layout/header_left_blue_small.gif" width="18" height="21" border="0"></td>
																		<td width="188" height="7" class="tdbbleu3"><img src="/mag/img/layout/header_top_blue.gif" width="188" height="7" border="0"></td>
																		<td rowspan="3"><img src="/mag/img/layout/header_right_blue_small.gif" width="25" height="21" border="0"></td>
																	</tr>
																	<tr height="10">
																		<td width="188" height="10" class="tdbbleu3"><img src="/mag/img/headlines/featuredlocation_de.gif" width="188" height="10" border="0"></td>
																	</tr>
																	<tr height="4">
																		<td width="188" height="4"><img src="/mag/img/layout/header_bottom_blue.gif" width="188" height="4" border="0"></td>
																	</tr>
																
															
														
													</table>
												</td>
											</tr>
											<tr height="3">
												<td colspan="2" height="1"><img src="/mag/img/layout/teaserbox_spacer_blue.gif" width="231" height="1" border="0"></td>
											</tr>
											<tr>
												<td width="221">
													<table border="0" cellpadding="0" cellspacing="0" width="221">
														<colgroup>
														<col width="1">
															<col width="1">
																<col width="4">
																	<col width="214">
																		<col width="1">
																			</colgroup>
																			<tr>
																				<td width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="4" class="tdbgrey1"><img src="/mag/img/space.gif" width="4" height="1" border="0"></td>
																				<td width="214" class="tdbgrey1"><img src="/mag/img/space.gif" width="214" height="1" border="0"></td>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="white" colspan="4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="white"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="4" class="tdbgrey3"><img src="/mag/img/space.gif" width="4" height="4" border="0"></td>
																				<td width="213" class="tdbgrey3"><span class="copy10"><b><a href="#">Maria am Ostbahnhof</a></b><br>
																					</span></td>
																				<td width="4" class="tdbgrey2"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="white"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td colspan="2" class="tdbgrey3"><img src="/mag/img/ornaments/dotted-line_218px_grey.gif" width="218" height="2" border="0"></td>
																				<td width="4" class="tdbgrey2"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="white"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="4" class="tdbgrey4"><img src="/mag/img/space.gif" width="4" height="4" border="0"></td>
																				<td class="tdbgrey4" width="215"><span class="copy9">Stra&szlig;e der Pariser Kommune 10<br>
																						10243 Berlin, Friedrichshain<br>
																						Tel.: 29 00 61 98<br>
																					</span></td>
																				<td width="1" class="tdbgrey2"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="4" class="tdbgrey1"><img src="/mag/img/space.gif" width="4" height="1" border="0"></td>
																				<td width="214" class="tdbgrey1"><img src="/mag/img/space.gif" width="214" height="1" border="0"></td>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																		
																	
																
															
														
													</table>
												</td>
												<td width="10" background="/mag/img/layout/border_blue.gif"><img src="/mag/img/space.gif" width="10" height="1" border="0"></td>
											</tr>
											<tr height="12"><map name="mehr"><area shape=rect coords="170,1,217,12" href="javascript:void()"></map>
												<td colspan="2" height="12"><img src="/mag/img/layout/teaserbox_bottom_blue3.gif" width="231" height="12" border="0"></td>
											</tr>
										
									
								</table>
							</td>
							<td align="right">
								<table border="0" cellpadding="0" cellspacing="0" width="231">
									<colgroup>
									<col width="221">
										<col width="10">
											</colgroup>
											<tr>
												<td colspan="2">
													<table border="0" cellpadding="0" cellspacing="0" width="231" height="21">
														<colgroup>
														<col width="18">
															<col width="188">
																<col width="25">
																	</colgroup>
																	<tr height="7">
																		<td rowspan="3"><img src="/mag/img/layout/header_left_blue_small.gif" width="18" height="21" border="0"></td>
																		<td width="188" height="7" class="tdbbleu3"><img src="/mag/img/layout/header_top_blue.gif" width="188" height="7" border="0"></td>
																		<td rowspan="3"><img src="/mag/img/layout/header_right_blue_small.gif" width="25" height="21" border="0"></td>
																	</tr>
																	<tr height="10">
																		<td width="188" height="10" class="tdbbleu3"><img src="/mag/img/headlines/featuredlocation_de.gif" width="188" height="10" border="0"></td>
																	</tr>
																	<tr height="4">
																		<td width="188" height="4"><img src="/mag/img/layout/header_bottom_blue.gif" width="188" height="4" border="0"></td>
																	</tr>
																
															
														
													</table>
												</td>
											</tr>
											<tr height="3">
												<td colspan="2" height="1"><img src="/mag/img/layout/teaserbox_spacer_blue.gif" width="231" height="1" border="0"></td>
											</tr>
											<tr>
												<td width="221">
													<table border="0" cellpadding="0" cellspacing="0" width="221">
														<colgroup>
														<col width="1">
															<col width="1">
																<col width="4">
																	<col width="214">
																		<col width="1">
																			</colgroup>
																			<tr>
																				<td width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="4" class="tdbgrey1"><img src="/mag/img/space.gif" width="4" height="1" border="0"></td>
																				<td width="214" class="tdbgrey1"><img src="/mag/img/space.gif" width="214" height="1" border="0"></td>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="white" colspan="4"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="white"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="4" class="tdbgrey3"><img src="/mag/img/space.gif" width="4" height="4" border="0"></td>
																				<td width="213" class="tdbgrey3"><span class="copy10"><b><a href="#">Nontox</a></b><br>
																					</span></td>
																				<td width="4" class="tdbgrey2"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="white"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td colspan="2" class="tdbgrey3"><img src="/mag/img/ornaments/dotted-line_218px_grey.gif" width="218" height="2" border="0"></td>
																				<td width="4" class="tdbgrey2"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="white"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="4" class="tdbgrey4"><img src="/mag/img/space.gif" width="4" height="4" border="0"></td>
																				<td class="tdbgrey4" width="215"><span class="copy9">M&uuml;hlenstra&szlig;e 12<br>
																						10243 Berlin, Friedrichshain<br>
																						Tel.: 29 66 72 06<br>
																					</span></td>
																				<td width="1" class="tdbgrey2"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																			<tr>
																				<td width="1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																				<td width="4" class="tdbgrey1"><img src="/mag/img/space.gif" width="4" height="1" border="0"></td>
																				<td width="214" class="tdbgrey1"><img src="/mag/img/space.gif" width="214" height="1" border="0"></td>
																				<td width="1" class="tdbgrey1"><img src="/mag/img/space.gif" width="1" height="1" border="0"></td>
																			</tr>
																		
																	
																
															
														
													</table>
												</td>
												<td width="10" background="/mag/img/layout/border_blue.gif"><img src="/mag/img/space.gif" width="10" height="1" border="0"></td>
											</tr>
											<tr height="12"><map name="mehr"><area shape=rect coords="170,1,217,12" href="javascript:void()"></map>
												<td colspan="2" height="12"><img src="/mag/img/layout/teaserbox_bottom_blue3.gif" width="231" height="12" border="0"></td>
											</tr>
										
									
								</table>
							</td>
						</tr>
					</table>